#calculatorContainer {
    width : 100%;
    height : 90vh;
    display: flex;
    flex-flow: row wrap;
}

#result {
    font-size: 4em;
    text-align: right;
    width: 100%;
    align-self: flex-end;
    background-color: gray;
    color: white;
}

#buttonContainer {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: 100%;
    height: 75%;
}

#buttonContainer > * {
    width: 25%;
    height: 20%;
    color: white;
    background-color: black;
    border-radius: 5%;
}

#clear {
    width: 50%;
}

#zero {
    flex-grow: 1;
}
